Options +FollowSymlinks
RewriteEngine on 

RewriteRule ^games/list/$   index.php?view=all [nc,qsa]
RewriteRule ^games/list/([0-9]+)/$  index.php?view=single&id=$1 [nc,qsa]
RewriteRule ^games/type/([a-zA-Z]+)/$   index.php?view=tipus&tid=$1 [nc,qsa]
RewriteRule ^games/.*$  index.php [nc,qsa]